<% @page_heading = _('New article') %>


<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <% if @status=="edit" and @is_admin %> 
    <form>
      Article ID <input type="text" name="id_to_merge" /><br />
      <input type="submit" value="Merge" />
    </form> 
  <% end %> 
